* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #edf5f9;
}

.container {
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  min-width: 350px;
  max-width: 650px;
}

header {
  margin: 20px;
}

header .headerTitle {
  display: flex;
  align-items: center;
}
.headerTitle img {
  margin-right: 10px;
}
.headerTitle h2 {
  font-weight: 600;
}
.displayCalculator {
  display: flex;
  flex-direction: column;
}
.infoMore {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 5px;
}
.historic{
  display: flex;
  justify-content: right;
  margin: 5px;
  font-size: 17px;
}
.calculatorNumbers{
  display: flex;
  justify-content: right;
  font-size: 40px;
  font-weight: 600;
  margin: 5px;
}

footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  bottom: 0px;
  width: 100%;
}

footer h5 {
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
}

